<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{ keyword }}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
        {{!-- 使用unless => if的相反 => falsy的參數回傳為true --}}
        {{#unless restaurants}}
        <div class="invalid-feedback" style="display: block;">
          找不到含有 {{ keyword }} 關鍵字的餐廳
        </div>
        {{/unless}}
      </form>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="d-flex justify-content-around">
    <!-- create button -->
      <div class="">
        <a class="btn btn-primary" href="/restaurants/new">新增餐廳</a>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          排序依據
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/?sort=ia">上傳時間 (最舊)</a></li>
          <li><a class="dropdown-item" href="/?sort=id">上傳時間 (最新)</a></li>
          <li><a class="dropdown-item" href="/?sort=ra">評價 (低到高)</a></li>
          <li><a class="dropdown-item" href="/?sort=rd">評價 (高到低)</a></li>
        </ul>
      </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5" id="data-panel">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <div class="card">
          <a href="/restaurants/{{this._id}}" class="text-secondary">
            <div class="">
              <img class="card-img-top" src="{{this.image}}"
                alt="{{this.name}}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>

                <div class="restaurant-category mb-1 d-inline">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>

                <span class="badge badge-pill bg-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>

              </div>
            </div>
          </a>
          <div class="card-body pt-0 d-flex justify-content-end align-items-center">
            <a href="/restaurants/{{this._id}}/edit">編輯</a>
            <form action="/restaurants/{{this._id}}?_method=DELETE" method="post" class="mx-2">
              <button class="btn btn-danger" type="submit">刪除</button>
            </form>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
