<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">新增餐廳</h3>
          <hr>
          {{> message}}
          <form method="POST" action="/restaurants">
            {{!-- name --}}
            <div class="form-group form-row">
              <label for="name" class="col-md-4 col-form-label">
                餐廳名稱
              </label>
              <div class="col-md-8">
                <input type="text" name="name" class="form-control" id="name" value="{{restInfo.name}}" required>
              </div>
            </div>

            {{!-- name_en --}}
            <div class="form-group form-row">
              <label for="name_en" class="col-md-4 col-form-label">
                餐廳英文名稱
              </label>
              <div class="col-md-8">
                <input type="text" name="name_en" class="form-control" id="name_en" value="{{restInfo.name_en}}">
              </div>
            </div>

            {{!-- category --}}
            <div class="form-group form-row">
              <label for="category" class="col-md-4 col-form-label">
                餐廳種類
              </label>
              <div class="col-md-8">
                <input type="text" name="category" class="form-control" id="category" value="{{restInfo.category}}" required>
              </div>
            </div>

            {{!-- image --}}
            <div class="form-group form-row">
              <label for="image" class="col-md-4 col-form-label">
                餐廳相關圖片連結
              </label>
              <div class="col-md-8">
                <input type="text" name="image" class="form-control" id="image"  value="{{restInfo.image}}" required>
              </div>
            </div>

            {{!-- location --}}
            <div class="form-group form-row">
              <label for="location" class="col-md-4 col-form-label">
                餐廳地址
              </label>
              <div class="col-md-8">
                <input type="text" name="location" class="form-control" id="location" value="{{restInfo.location}}" required>
              </div>
            </div>

            {{!-- phone --}}
            <div class="form-group form-row">
              <label for="phone" class="col-md-4 col-form-label">
                餐廳電話
              </label>
              <div class="col-md-8">
                <input type="text" name="phone" class="form-control" id="phone" value="{{restInfo.phone}}" required>
              </div>
            </div>

            {{!-- google_map --}}
            <div class="form-group form-row">
              <label for="google_map" class="col-md-4 col-form-label">
                餐廳 Google Map 位置
              </label>
              <div class="col-md-8">
                <input type="text" name="google_map" class="form-control" id="google_map" value="{{restInfo.google_map}}" required>
              </div>
            </div>

            {{!-- rating --}}
            <div class="form-group form-row">
              <label for="rating" class="col-md-4 col-form-label">
                餐廳評價
              </label>
              <div class="col-md-8">
                <input type="number" name="rating" class="form-control" id="rating" min="0" max="5" step="0.1" value="{{restInfo.rating}}" required>
              </div>
            </div>

            {{!-- description --}}
            <div class="form-group form-row">
              <label for="desc" class="col-md-4 col-form-label">
                餐廳簡介
              </label>
              <div class="col-md-8">
                <textarea name="description" class="form-control" id="desc">{{restInfo.description}}</textarea>
              </div>
            </div>

            <button class="btn btn-success mt-2" type="submit">新增餐廳</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>